

:root{
    --clr1: #F4ADC5;
    --clr2: #e596b1e3;
    --clr3: #CF7F96;
}

body{
    background-color: var(--clr1);
}

.method-card{
    border-style: solid;
    border-color: var(--clr3);
    border-width: 5px;
    border-radius: 10px; 
    padding: 10px; 
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.method-card input{
    border-radius: 5px;
    border-width: 3px;
    background-color: var(--clr2);
    border-style: solid;
    border-color: var(--clr3);
}

.method-card input::-webkit-outer-spin-button,
.method-card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.method-card input {
  -moz-appearance: textfield;
}

.method-card h1{
    color: var(--clr3);
    border-bottom: 5px solid var(--clr3);
}

.method-card table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--clr3);
    overflow: hidden;
    /* table-layout: fixed; */
}


.method-card caption{
    font-size: xx-large;
    font-weight: bold;
    color: var(--clr3);
}


.method-card th, 
.method-card td{
    border-style: solid;
    border-width: 3px;
    border-radius: 0px;
    border-color: var(--clr3);
    background-color: var(--clr2);
    padding: 3px;
    text-align: center;
}

.method-card th{
    background-color: var(--clr3);
    font-weight: bold;
}

.method-card td.premium{
    background-color: #89e489;
}

.method-card td.no-premium{
    background-color: #d67171;
}
